SECRET_KEY=
DEBUG=True

DB_NAME=wedo
DB_USER=wedo_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Celery (брокер задач + хранение результатов)
# для локальной разработки — localhost; для docker — redis (имя сервиса)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
